
<p>Hi! You may call me <%=  name %></p>
<p>Surely, I am the most advanced <%= gender %> you have ever had the pleasure to meet</p>
<p> I have been around since <%= birth %> and am known far and wide for my humility.</p>