<div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-xs-12">
          <img class="hero" src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Seattle_Kerry_Park_Skyline.jpg">
        </div>
      </div>
      <h1>Welcome to Express Post; The place for Interstallar Inquiries</h1>
  
      <form action="/swapi/show" method="get">

        <input name='personId' name='personId' type='text'></input>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  
    </div>
    <div class="col-sm-4">
      <h2>About</h2>
      <p>BlogPulse is an up-and-coming player in the global media market,
      providing user-generated content across all topics.</p>
    </div>
  </div>